In [ ]:
install.packages("dplyr")

:

In [ ]:
library("dplyr")

:

In [35]:
print("Reading in the data.")
data = read.csv("./wfp_food_prices_database.csv/wfp_food_prices_database.csv")
head(data)
dim(data)
(summary(data))

[1] "Reading in the data."

  adm0_id adm0_name   adm1_id adm1_name  mkt_id mkt_name cm_id cm_name
1 1       Afghanistan 272     Badakhshan 266    Fayzabad 55    Bread - Retail
2 1       Afghanistan 272     Badakhshan 266    Fayzabad 55    Bread - Retail
3 1       Afghanistan 272     Badakhshan 266    Fayzabad 55    Bread - Retail
4 1       Afghanistan 272     Badakhshan 266    Fayzabad 55    Bread - Retail
5 1       Afghanistan 272     Badakhshan 266    Fayzabad 55    Bread - Retail
6 1       Afghanistan 272     Badakhshan 266    Fayzabad 55    Bread - Retail
  cur_id cur_name pt_id pt_name um_id um_name mp_month mp_year mp_price
1 0      AFN      15    Retail  5     KG      1        2014    50
2 0      AFN      15    Retail  5     KG      2        2014    50
3 0      AFN      15    Retail  5     KG      3        2014    50
4 0      AFN      15    Retail  5     KG      4        2014    50
5 0      AFN      15    Retail  5     KG      5        2014    50
6 0      AFN      15    Retail  5     KG      6        2014    50
  mp_commoditysource
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

[1] 1560551      18

    adm0_id         adm0_name            adm1_id        adm1_name
 Min.   :    1.0   Length:1560551     Min.   :     0   Length:1560551
 1st Qu.:  108.0   Class :character   1st Qu.:  1572   Class :character
 Median :  155.0   Mode  :character   Median :  2205   Mode  :character
 Mean   :  984.4                      Mean   : 27542
 3rd Qu.:  205.0                      3rd Qu.:  3433
 Max.   :70001.0                      Max.   :900022
     mkt_id       mkt_name             cm_id         cm_name
 Min.   :  80   Length:1560551     Min.   : 50.0   Length:1560551
 1st Qu.: 534   Class :character   1st Qu.: 71.0   Class :character
 Median :1075   Mode  :character   Median :120.0   Mode  :character
 Mean   :1265                      Mean   :188.2
 3rd Qu.:1895                      3rd Qu.:277.0
 Max.   :4083                      Max.   :838.0
     cur_id    cur_name             pt_id         pt_name
 Min.   :0   Length:1560551     Min.   :14.00   Length:1560551
 1st Qu.:0   Class :character   1st Qu.:15.00   Class :character
 Median :0   Mode  :character   Median :15.00   Mode  :character
 Mean   :0                      Mean   :14.91
 3rd Qu.:0                      3rd Qu.:15.00
 Max.   :0                      Max.   :18.00
     um_id          um_name             mp_month         mp_year
 Min.   :  5.00   Length:1560551     Min.   : 1.000   Min.   :1990
 1st Qu.:  5.00   Class :character   1st Qu.: 3.000   1st Qu.:2013
 Median :  5.00   Mode  :character   Median : 6.000   Median :2016
 Mean   : 14.43                      Mean   : 6.354   Mean   :2015
 3rd Qu.:  9.00                      3rd Qu.: 9.000   3rd Qu.:2018
 Max.   :164.00                      Max.   :12.000   Max.   :2020
    mp_price        mp_commoditysource
 Min.   :       0   Mode:logical
 1st Qu.:      35   NA's:1560551
 Median :     206
 Mean   :    6137
 3rd Qu.:     825
 Max.   :21777780

In [36]:
pruned_data <- subset(data, select = -c(mp_commoditysource))

rice_data = pruned_data[pruned_data$cm_id == 64,]
rice_no_dupes = rice_data[!duplicated(rice_data$adm1_id),]

In [37]:
class(data)
names(data)

[1] "data.frame"

 [1] "adm0_id"            "adm0_name"          "adm1_id"
 [4] "adm1_name"          "mkt_id"             "mkt_name"
 [7] "cm_id"              "cm_name"            "cur_id"
[10] "cur_name"           "pt_id"              "pt_name"
[13] "um_id"              "um_name"            "mp_month"
[16] "mp_year"            "mp_price"           "mp_commoditysource"

In [47]:

# remove.packages('rlang')
install.packages('rlang')

Warning message in install.packages("rlang"):
“installation of package ‘rlang’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [48]:
# library(rpart)
# library(caret)
# head(rice_no_dupes)

ERROR: Error: package or namespace load failed for ‘caret’ in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 namespace ‘rlang’ 1.0.2 is already loaded, but >= 1.0.3 is required

In [54]:
library(rpart.plot)

In [ ]:
# trainIdx <- createDataPartition()
library(caret)

: